body {
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: hsl(209, 71%, 80%);
    color: hsl(0, 0%, 12%);
}

a {
    text-decoration: none;

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px 5px -3px hsl(0, 0%, 47%);
    background-color: hsl(0, 0%, 100%);
}

h1.header-html {
    margin: 10px 0 10px 30px;
}

div.table-of-contents {
    position: fixed;
    top: 80px;
    margin-left: 30px;
    margin-right: auto;
    padding: 5px 20px 15px 20px;
    border: 1px solid hsl(209, 71%, 74%);
    border-radius: 3px;
    background-color: hsl(209, 71%, 75%);
    color: white;
}

div.introduction {
    width: 800px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 3px;
    box-shadow: 0px 2px 5px -3px hsl(0, 0%, 47%);
    background-color: hsl(0, 0%, 98%);
}

div.main-blocks {
    width: 800px;
    margin: 30px auto 30px auto;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 3px;
    box-shadow: 0px 2px 5px -3px #777777;
    background-color: hsl(0, 0%, 98%);

}

h2 {
    margin-left: 20px;
    margin-top: 20px;
}

div.sub-blocks {
    margin: 10px 20px 20px 20px;
    padding: 5px 20px 15px 20px;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: inherit;
    background-color: hsl(0, 0%, 100%);
}

span.code-tag {
    color: rgb(209, 60, 60);
}

span.code-atr {
    color: rgb(24, 148, 24);
}

form {
    border: 1px solid hsl(0, 0%, 89%);
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 5px;
}

footer {
    height: 100px;
    border-top: 1px solid hsl(209, 71%, 74%);
    background-color: hsl(209, 71%, 75%);
}

p.foot {
    text-align: center;
    font-size: 180%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hsl(209, 71%, 77%);
}

img {
    border-radius: 3px;
}

video, audio {
    border-radius: 3px;
}
