html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

section, article, nav, aside, header, footer, main {
  display: block;
}

body {
  margin: 0;
}

header.main_header { 
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: rgb(255, 210, 210);
  /* outline: 1px solid black; */
}

header.main_header h1 {
  margin: 1rem;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  /* outline: 1px solid black; */
}

header.main_header p {
  width: 40%;
  margin: 1em;
  margin-left: auto;
  /* outline: 1px solid black; */
}

a.main_header {
  text-decoration: none;
}

a.main_header:link {
  color: black;
}

a.main_header:visited {
  color: black;
}

a.main_header:hover {
  text-shadow: 2px 2px 2px white;
}

main {
  /* border: 1px solid rgb(139, 55, 55); */
  width: 70%;
  margin: 0 auto;
  /* display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border: 1px solid red; */
}

div.ex {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 15px rgb(216, 216, 216);
  border-radius: 5px;
  margin: 1em;
}

div.code {
  background-color: rgb(255, 244, 244);
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  width: fit-content;
}

code {
  color: rgb(0, 0, 0);
  font-size: large;
  font-weight: bold;
}

div.flex_con {
  display: flex;
  background-color: rgb(171, 212, 245);
  margin: 1em;
}

div.box {
  border: 1px solid rgb(226, 13, 13);
  border-radius: .7rem;
  font-size: 4em;
  background-color: rgb(32, 81, 128);
  color: rgb(255, 255, 255);
  /* margin: 5px; */
}

div.flex_con_1 {
  flex-direction: row;
  flex-wrap: wrap;
}

div.flex_con_2 {
  flex-direction: row;
  flex-wrap: nowrap;
}

div.flex_con_2 div.box {
  width: 25%;
}

div.flex_con_3 {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 350px;
}

div.flex_con_4 {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 350px;
}